body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000000;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

h1, button{
    color: #ffffff;
}

button{
    background-color: #000000;
}

.container{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

}

.container-cards{
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards{
    width: 20%;
    color: #808080;
}
.cards:hover{
    color: #ffffff;
}


.imgPerfil{
    width: 100%;
    border-radius: 15px;
}
.imgPerfil:hover{
    border: 1px solid #ffffff;

}

button{
    height: 40px;
    width: 170px;
    background-color: #000000;
    border-bottom: 2px solid;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: medium;
}
button:hover{
    background-color: #ffffff;
    color: #000000;
}