body{
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000000;
}

h1, button{
    color: #ffffff;
}
ul{
    color: #808080;
}

button{
    background-color: #000000;
}

.box{
    height: 1000px;
    width: 1000px;
}

.box img{
    border-radius: 35px;
    width: 20%;
}
.cards{
    list-style: none;
}

button{
    height: 40px;
    width: 170px;
    background-color: #000000;
    border-bottom: 2px solid;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: medium;
}